@charset "UTF-8";
/* CSS Document */

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
	color: #000000;
	padding: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875em;
}