@charset "UTF-8";
/* CSS Document */

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
	padding: 10px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
	color: #000000;
	padding: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: normal;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content strong {
	font-weight: bold;
}